{% macro render_blog_post(post) %}

  <a href="{{ post|url }}">
    <h2 class="is-family-secondary mb-0">{{ post.title }}</h2>
  </a>
  <p class="is-size-7">
    <time datetime="{{ post.pub_date }}">{{ post.pub_date.strftime("%b %d, %Y")}}</time>
  </p>
  <div class="columns is-variable is-2">
    <div class="column is-three-quarters">
      {{ post.body|excerpt }}
    </div>
    <div class="column">
      <figure class="image is-3by2 mx-0">
        <a href="{{ post|url }}">
          <img src="{{ post|url + post.image }}" style="object-fit: cover" />
        </a>
      </figure>
    </div>
  </div>

{% endmacro %}
