{% macro render_pagination(pagination) %}

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {% if pagination.has_prev %}
    <a class="pagination-previous" href="{{ pagination.prev|url }}">Previous</a>
  {% else %}
    <a class="pagination-previous" disabled>Previous</a>
  {% endif %}

  {% if pagination.has_next %}
    <a class="pagination-next" href="{{ pagination.next|url }}">Next</a>
  {% else %}
    <a class="pagination-next" disabled>Next</a>
  {% endif %}

  <ul class="pagination-list">
    {% if pagination.page >= 3 %}
      <li><a class="pagination-link" aria-label="Goto page 1" href="{{ pagination.for_page(1)|url }}">1</a></li>
    {% endif %}

    {% if pagination.page > 3 %}
      <li><span class="pagination-ellipsis">&hellip;</span></li>
    {% endif %}

    {% if pagination.has_prev %}
      <li><a class="pagination-link" aria-label="Goto page {{ pagination.prev_num }}" href="{{ pagination.for_page(pagination.prev_num)|url }}">{{ pagination.prev_num }}</a></li>
    {% endif %}

    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{ pagination.page }}</a></li>

    {% if pagination.has_next %}
      <li><a class="pagination-link" aria-label="Goto page {{ pagination.next_num }}" href="{{ pagination.for_page(pagination.next_num)|url }}">{{ pagination.next_num }}</a></li>
    {% endif %}

    {% if pagination.page < pagination.pages - 2 %}
      <li><span class="pagination-ellipsis">&hellip;</span></li>
    {% endif %}

    {% if pagination.page <= pagination.pages - 2 %}
      <li><a class="pagination-link" aria-label="Goto page {{ pagination.pages }}" href="{{ pagination.for_page(pagination.pages)|url }}">{{ pagination.pages }}</a></li>
    {% endif %}
  </ul>
</nav>

  <!-- <div class="pagination">
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url }}">&laquo; Previous</a>
    {% else %}
      <span class="disabled">&laquo; Previous</span>
    {% endif %}
    | {{ pagination.page }} |
    {% if pagination.has_next %}
      <a href="{{ pagination.next|url }}">Next &raquo;</a>
    {% else %}
      <span class="disabled">Next &raquo;</span>
    {% endif %}

    <ul class="pagination-list">
      <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
      <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
      <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
    </ul>
  </div> -->
{% endmacro %}
