{% extends "layout.html" %}

{% block title %} - {{ this.title }}{% endblock %}

{% block head %}
  {% if config.THEME_SETTINGS.commento_host %}
    <script defer
      src="{{ config.THEME_SETTINGS.commento_host }}/js/commento.js"
      data-css-override="{{ '/css/custom-commento.css'|url }}"
      data-page-id="{{ this.unique_id }}">
    </script>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="section">
    <!-- <figure class="image is-2by1 mb-4">
      <img src="{{ this.image }}">
    </figure> -->
    <div class="content is-size-5">
      <h1 class="mb-0">{{ this.title }}</h1>
      <p>
        <time datetime="{{ this.pub_date }}" class="content is-size-6">{{ this.pub_date.strftime("%b %d, %Y")}}</time>
      </p>
      <figure class="image is-2by1 mt-0 mx-0">
        <img src="{{ this.image }}">
      </figure>
      {{ this.body }}
      {% if config.THEME_SETTINGS.commento_host %}
        <hr>
        <br>
        <div id="commento"></div>
      {% endif %}
    </div>

  </div>
{% endblock %}
