{% extends "layout.html" %}
{% from "macros/blog_short.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <div class="section">
    {% for child in this.pagination.items %}
    <div class="block">
      <div class="content is-size-5">
        {{ render_blog_post(child) }}
        <hr>
      </div>
    </div>
    {% endfor %}
    {{ render_pagination(this.pagination) }}
  </div>
{% endblock %}
