{% extends "layout.html" %} {% block hero %}
<!-- HERO -->
  <div class="hero is-medium is-dark hero-bg-image">
    <div class="hero-body">
    <div class="container is-max-desktop px-6">
      <h1 class="title is-size-1">{{ this.hero_title }}</h1>
      {% if this.hero_subtitle is defined %}
      <h2 class="subtitle">{{ this.hero_subtitle }}</h2>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block body %}
<!-- Blurb -->
<div class="columns is-centered" style="margin-top:0rem;">
  <div class="column content is-10">
    <div class="content is-size-5">
      <span> {{ this.blurb }} </span>
    </div>
  </div>
</div>

<!-- Latest blog posts -->
<div class="columns is-centered" style="margin-bottom:0rem;">
  {% set root = site.get('/blog') %}
  {% for child in root.children.limit(3) %}
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-3by2">
            <a href="{{ child|url }}">
              <img src="{{ child|url + child.image }}" style="object-fit: cover;">
            </a>
          </figure>
        </div>
        <div class="card-content content">
          <a href="{{ child|url }}">
            <h2 class="is-size-5 is-family-secondary mb-0">{{ child.title }}</h2>
          </a>
          <time datetime="{{ child.pub_date }}" class="is-size-7">{{ child.pub_date.strftime("%b %d, %Y")}}</time>
        </div>
      </div>
    </div>
  {% endfor %}

  {# {% for i in range(3 - root.children.limit(3)|list|count) %}
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-3by2">

          </figure>
        </div>
        <div class="card-content content">

        </div>
      </div>
    </div>
  {% endfor %} #}
</div>

{% endblock %}

<!--
  <div class="columns">
    <div class="column"></div>
    <div class="column is-8">
      #### INSERT CONTENT HERE ####
    </div>
    <div class="column"></div>
  </div>
-->
