<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ config.THEME_SETTINGS.website_name }}{% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ '/css/bulmaswatch.min.css'|url }}"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />

    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">

    <style>
      .hero-bg-image {
        background: url({{ this.hero_background }});
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: fixed;
        background-clip: margin-box;
      }

      strong {
        /* hack because Bulma is dumb and has specific colour for strong */
        color: inherit;
      }
    </style>

    <script>
      // copied from https://bulma.io/documentation/components/navbar/
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>

    {% if config.THEME_SETTINGS.google_analytics_id %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.THEME_SETTINGS.google_analytics_id }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{ config.THEME_SETTINGS.google_analytics_id }}');
        </script>
    {% endif %}

    {% block head %}{% endblock %}

    {# <link rel="stylesheet" href="{{ '/css/debug.css'|url }}" /> #}
  </head>

  <body>
    <nav
      class="navbar is-transparent is-two-thirds"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container is-max-desktop">
          <div class="navbar-brand">
            <a
              role="button"
              class="navbar-burger burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="mainNavbar"
            >
              <!-- TODO setup hamburger -->
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div class="navbar-menu" id="mainNavbar">
            <div class="navbar-start">
              {% for link in config.THEME_SETTINGS.navbar_config.split(',') %}
                {% set title, href = link.split('=') %}
                <a class="navbar-item" href="{{ href|url }}">{{ title }}</a>
              {% endfor %}
            </div>
            <div class="navbar-end">
              {% if config.THEME_SETTINGS.contact_twitter %}
                <a class="navbar-item" href="https://twitter.com/{{ config.THEME_SETTINGS.contact_twitter }}">
                  <i class="fab fa-twitter"></i>
                </a>
              {% endif %}
              {% if config.THEME_SETTINGS.contact_youtube %}
                <a class="navbar-item" href="https://www.youtube.com/channel/{{ config.THEME_SETTINGS.contact_youtube }}">
                  <i class="fab fa-youtube"></i>
                </a>
              {% endif %}
              {% if config.THEME_SETTINGS.contact_gitlab %}
                <a class="navbar-item" href="https://gitlab.com/{{ config.THEME_SETTINGS.contact_gitlab }}">
                  <i class="fab fa-gitlab"></i>
                </a>
              {% endif %}
              {% if config.THEME_SETTINGS.contact_email %}
                <a class="navbar-item" href="mailto:{{ config.THEME_SETTINGS.contact_email }}">
                  <i class="fas fa-envelope"></i>
                </a>
              {% endif %}
            </div>
          </div>

      </div>
    </nav>

    <!-- Navbar -->

    {% block hero %}{% endblock %}

    <div class="container is-max-desktop">
      {% block body %}{% endblock %}
    </div>

    <footer class="footer">
      <div class="container content is-max-desktop has-text-grey-light">
        <p>
          Copyright 2021 {{ config.THEME_SETTINGS.copyright }}
        </p>
        <p>
          Powered by <a href="https://www.getlektor.com">Lektor</a> and <a href="https://gitlab.com/VaskivoDev/tinkle">Tinkle</a>
        </p>
      </div>
    </footer>
  </body>
</html>
