{% extends "layout.html" %}

{% block title %} - {{ this.title }}{% endblock %}

{% block head %}
  {% if config.THEME_SETTINGS.commento_host %}
    <script defer
      src="{{ config.THEME_SETTINGS.commento_host }}/js/commento.js"
      data-css-override="{{ '/css/custom-commento.css'|url }}"
      data-page-id="{{ this.unique_id }}">
    </script>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="section">
    <div class="content is-size-5">
      <h1 class="is-family-secondary">{{ this.title }}</h1>
      {{ this.body }}
      {% if config.THEME_SETTINGS.commento_host %}
        <hr>
        <br>
        <div id="commento"></div>
      {% endif %}
    </div>
  </div>
{% endblock %}
