{% extends "layout.html" %}
{% block title %} - {{ this.title }}{% endblock %}
{% block body %}
  <div class="section">
    <div class="content is-size-5">
      <h1 class="is-family-secondary">{{ this.title }}</h1>
      {{ this.body }}
    </div>
  </div>
{% endblock %}
